requests>=2.22.*
pyyaml
gitpython
git
conda>=4.8.2,<=4.9.0
conda-build>=3.18.12,<=3.19.3
ripgrep
fuzzywuzzy
python-levenshtein
htslib
samtools>=1.10
zlib
check-sort-order>=0.0.7
krb5
gsort>=0.1.4
wget
pytest
future
oyaml
pytest-socket
pysam
cyvcf2
